extends base

block files
    link(rel="stylesheet", href="css/reusablePage.css")
    link(rel="stylesheet", href="css/projects.css")
    script(src="css/projects.css")
    script(defer src="js/projects.js")
    link(rel='stylesheet', href='css/resuable.css')
    script(defer, src='js/resuable.js')
    script(defer src="js/showAlert.js") 
    

block content 
    .page.page-projects
      // Page Title
      .page-title
        p.page-title.animate-title &mdash; Projects
      // Page Content
      .page-content.content-project
        .div-projects
          //- .project.project-left.animate-card-left
          //-   .div-project-img
          //-     img.project-img(src='https://images.unsplash.com/photo-1493663284031-b7e3aefcae8e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8ZnVybml0dXJlfGVufDB8MHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60', alt='')
          //-   .div-project-desc
          //-     .div-project-title
          //-       p.project-title Sudha&apos;s House
          //-     .div-project-text
          //-       p.project-text
          //-         | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo totam fugit pariatur, omnis nesciunt excepturi incidunt inventore debitis. Sapiente sequi iure nam quia, culpa labore nihil consequatur pariatur quam cum!
          //-       a.secondary-link.project-link(href='#') view project
          //- .project.project-right.animate-card-right
          //-   .div-project-desc
          //-     .div-project-title
          //-       p.project-title Sudha&apos;s House
          //-     .div-project-text
          //-       p.project-text
          //-         | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo totam fugit pariatur, omnis nesciunt excepturi incidunt inventore debitis. Sapiente sequi iure nam quia, culpa labore nihil consequatur pariatur quam cum!
          //-       a.secondary-link.project-link(href='#') view project
          //-   .div-project-img
          //-     img.project-img(src='https://images.unsplash.com/photo-1493663284031-b7e3aefcae8e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8ZnVybml0dXJlfGVufDB8MHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60', alt='')